<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Lendingfront</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">LENDINGFRONT</a>
        </div>        
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h3>BUSINESS LENDING MADE SIMPLE</h3>
        <p>Small business credit is driven by daily cash flow not a consumer score which is at the center of consumer platforms or dated GAAP financials which are at the center of large commercial credits.</p> 

		<p>Our integrated platform unleashes the power and uniqueness of small business data to streamline and automate activities that are too costly and time consuming to execute by conventional means.</p>
        <p><a class="btn btn-primary btn-lg" href="/form" role="button">Try us now</a></p>
      </div>
    </div>
</body>
</html>