<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Lendingfront</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">LENDINGFRONT</a>
        </div>        
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h3>RESULTS</h3>
        {% if state == 'Declined'%}
        <p>Sorry, your application was {{state}}</p>
        {% end %}
        {% if state == 'Aproved'%}
        <p>Congratulations, your application was {{state}}</p>
        {% end %}
        {% if state == 'Undecided'%}
        <p>Sorry, your application is still in process</p>
        {% end %}
        
      </div>
    </div>
</body>
</html>